<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>

<body>
    <div id="root">
        <h1>Shortly: URL Reducer</h1>
        <form action="" method="POST">
            <label for="oriURL">URL:</label>
            <input type="url" name="oriURL" id="oriURL" placeholder="paste URL here">
            </input>
            <button type="submit">Generate Shortly</button>
        </form>
        <div id="result">Here is your Shortly: </div>

        <table>
            <thead>
                <tr>
                    <th>Original URL</th>
                    <th>Short URL</th>
                    <th>Clicks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="google.com">google.com</a>
                    </td>
                    <td>
                        <a href="/123">123</a>
                    </td>
                    <td>
                        10
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>