<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>
<body>
    <div id="root">
        <form>
            <textarea placeholder="shorten your URL">
                // save things to local storage
                // 
            </textarea>
            <button>Generate Shortly</button>
        </form>
        <div id="result">Here is your Link: </div>
    </div>
</body>
</html>